@import './variables';

.navigation-dots {
    
    a {
        width: 1.2rem;
        height: 1.2rem;

        border: .1rem solid $text-color;
        border-radius: 1.6rem;

        cursor: pointer;

        transition: 0.2s ease-in-out;


        &:visited {
            background-color: $primary-color;
        }

    }

    .dot {

        &:hover {
            border: 1px solid $primary-color;
            background-color: $primary-color;
        }

    }

    .active {
        background-color: $primary-color;
        border: none;
    }
}
